<nav class="nav">
  <img src="assets\Imgs\Logo_Angular.png" width="15%" />
  &nbsp;&nbsp;&nbsp;&nbsp;
  <h1
    title="🌐Angular officiel"
    onclick="window.location.href='//angular.io/docs'"
  >
    Demo
  </h1>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <ul style="display: flex; list-style-type: none; margin: 0; padding: 0">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li style="margin-inline-end: 10px">
      <button routerLink="/Exercices">chrono</button>
    </li>
    <li style="margin-inline-end: 10px">
      <button routerLink="/Test">test</button>
    </li>
    <li>
      <button routerLink="/Form">form</button>
    </li>
    <li>
      <button routerLink="/add-item">item</button>
    </li>
    <li>
      <button routerLink="/Friends">friends</button>
    </li>
    <li>
      <button routerLink="/Connexion">inscription</button>
    </li>
    <li>
      <button routerLink="/Inscription">meeting</button>
    </li>
    <li>
      <button routerLink="/cv">cv</button>
    </li>
    <li>
      <button
        style="
          background-color: rgb(162, 209, 231);
          border: 2.5px solid rgb(105, 102, 102);
          border: solid 1.5px red;
          border-radius: 5px;
          inline-size: 85px;
          block-size: 35px;
        "
        routerLink="/Add-article"
      >
        Add-article
      </button>
    </li>
  </ul>
  <a href="mailto:szmulikowski.vincent.1971@hotmail.com">
    <button
      style="
        background-color: rgb(65, 66, 63);
        border: solid 2.5px red;
        color: white;
        margin-inline-start: 270px;
      "
    >
      contact
    </button>
  </a>
  <img
    src="assets\Imgs\avatar_Defaut.jpg"
    style="
      border-radius: 50%;
      border: solid 2.5px red;
      margin-inline-start: auto;
    "
    width="2.5%;"
    title="🔴hors ligne"
  />&nbsp;&nbsp; &nbsp;&nbsp;
</nav>
