nav {
  display: flex;
  align-items: center;
  inline-size: 2080px;
  block-size: 85px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(224, 240, 243);
  border: 1.5px solid rgb(105, 102, 102);
}

h3 {
  color: rgb(121, 184, 235);
  padding: 25px;
}

h1 {
  color: rgb(231, 129, 129);
  border: solid 1.5px rgb(184, 178, 178);
  border-radius: 5px;
  padding: 5px;
}

h2 {
  color: rgb(95, 92, 92);
  padding: 10px;
}

p {
  padding: 5px;
}

ul {
  list-style: none;
  color: rgb(0, 0, 0);
  margin: 0px;
}

ul li {
  display: table-cell;
  padding: 25px;
}

button {
  background-color: rgb(162, 209, 231);
  color: rgb(75, 72, 72);
  border: solid 1.5px rgb(224, 20, 20);
  border-radius: 5px;
  inline-size: 75px;
  block-size: 35px;
}

footer {
  padding: 0px;
  align-items: center;
  inline-size: 2080px;
  block-size: 55px;
  margin: 10px;
  padding: 0.5px;
  border-radius: 5px;
  background-color: rgb(224, 240, 243);
  border: 1.5px solid rgb(105, 102, 102);
}
